*{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    padding-top: 1rem;
}

section{
    height: 70vh;
    min-height: 38rem;
    min-width: 20rem;
    width: 50vw;
    background: linear-gradient(45deg, rgb(255, 255, 255),rgb(241, 241, 241));
    box-shadow: 1px 1px 10px 2px black;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(0, 174, 255);
}

img{
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    border-radius: 50%;
    padding: 2rem;
}