*{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

section{
    height: 70vh;
    width: 50vw;
    background-color: rgb(221, 218, 218);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html{
    display: grid;
    place-items: center;
    height: 100vh;
}