@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    font-family: "Montserrat",sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #549df0;
    display: grid;
    place-content: center;
    min-height: 100vh;
}