<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bem-vindo</title>
  </head>
  <body>
    <h1>Seja bem-vindo ao Dashboard</h1>
    <p>Antes de tudo registre-se</p>
    <h2>Login</h2>
    <form action="/login" method="POST">
      <label for="username">Nome: </label>
      <input type="text" name="username" id="username" />
      <label for="password">Senha: </label>
      <input type="password" name="password" id="password" />
      <button type="submit">Logar</button>
    </form>
    <h2>Registre-se</h2>
    <form action="/register" method="POST">
      <label for="username">Nome: </label>
      <input type="text" name="username" id="username" />
      <label for="password">Senha: </label>
      <input type="password" name="password" id="password" />
     <button type="submit">Registrar</button>
    </form>
  </body>
</html>
