.btn{
    color: rgb(255, 255, 255);
    padding: .75rem;
    background-color: aqua;
    border: .1rem solid black;
    border-radius: .5rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}