<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>B-Active | Criação</title>
</head>
<body class="container">
    <h1>Nova Lista de Tarefas</h1>
    <form action="/lists/created" method="POST" class="form-create">
        <input type="text" name="listName" id="listName" class="input-create">
        <button type="submit">Criar</button>
    </form>
    <a class="btn-primary" href="/lists">Voltar</a>
</body>
</html>