<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>B-Active</title>
  </head>
  <body class="hero">
    <h1>Seja Bem-Vindo ao B-Active</h1>
    <p>
      Crie ou veja suas listas de tarefa e comece a organizar melhor o seu dia!
    </p>
    <a class="btn-primary" href="/lists">Entrar</a>
  </body>
</html>
