<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B-Active</title>
</head>
<body>
    <h1>Seja Bem-Vindo ao B-Active </h1>
    <p>Crie ou veja suas listas de tarefa e comece a organizar melhor o seu dia!</p>
    <button><a href="/lists">Listas</a></button>
</body>
</html>