<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>B-Active | Lists</title>
  </head>

  <body class="container">
    <h1>Todas as Listas</h1>
    <% if (lists) { %>
    <table class="list-table">
      <tbody>
        <% lists.forEach(list=> { %>
        <tr>
            <td class="list-div">
            <a href="/lists/<%=list%>" class="list"><%= list %></a>
            <form action="/lists/delete/<%=list%>" method="POST">
                <button class="btn-exclude" type="submit">excluir</button>
            </form>
            </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <h2>Você ainda não possuí listas</h2>
    <% } %>
    <a class="btn-primary" href="/lists/create">Cria Listas</a>
  </body>
</html>
