<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B-Active | <%=listName%></title>
  </head>
  <body>
    <h1><%=listName%></h1>
    <form action="/lists/<%=listName%>/createTask" method="POST">
        <input type="text" name="taskName" id="taskName" placeholder="Digite a tarefa deseja adicionar.">
        <button type="submit">Criar</button>
    </form>
    <ul>
      <% tasks.forEach(task => { %>
            <li><%=task%></li>
        <% }) %>
    </ul>
    <a href="/lists">voltar</a>
  </body>
</html>
